
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/d365fo.tools/.vs/*
library/d365fo.tools/d365fo.tools/bin/*
library/d365fo.tools/d365fo.tools/obj/*

# ignore PowerShell Studio MetaData
d365fo.tools/d365fo.tools.psproj
d365fo.tools/d365fo.tools.psproj.bak
d365fo.tools/d365fo.tools.psprojs
d365fo.tools/d365fo.tools.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*